@import '../../assets/styling/Colors';
@import '../../assets/styling/Fonts';

.button {
	@include font(black, 16px, 400);
	border: none;
	background-color: rgba($middleGreenHover, 1);
	border-radius: 0.7rem;
	padding: 1rem;
	cursor: pointer;
	height: 8rem;
	width: 16.5rem;
	margin: 1rem 0;

	&:hover {
		background-color: rgba($darkGreen, 0.8);
	}
}

.text {
	@include font($white, 16px, 500);
}
