@import '../../assets/styling/Colors';
@import '../../assets/styling/Fonts';

.button {
	background: none;
	border: none;
	border: 1px solid $white;
	border-radius: 0.7rem;
	height: 8rem;
	width: 16.5rem;
	margin: 1rem 0;
}

.text {
	@include font($white, 16px, 400);
}
