@import '../../assets/styling/Colors';
@import '../../assets/styling/Fonts';

.pageContainer {
	display: flex;
	justify-content: center;
	height: 100%;
}

.contentContainer {
	width: 40vw;
	min-height: 70vh;
	margin-top: 6rem;
}

.pageTitle {
	@include font($white, 42px, 600);
}

.pageInfo {
	@include font($white, 16px, 400);
}

.postsContainer {
	display: flex;
	flex-direction: column;
}

.postButton {
	@include font($white, 16px, 400);
	border: 1px solid $white;
	border-radius: 0.7rem;
	cursor: pointer;
	padding: 0.7rem;

	&:hover {
		background-color: rgba($white, 0.1);
	}
}
