@import './assets/styling/Colors';

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.content {
	position: relative;
	display: flex;
	flex-direction: row;
	background-color: $lightGreen;
	min-height: 100vh;
	width: 100vw;
}

.main {
	width: 80%;
}

.logoContainer {
	position: fixed;
	bottom: 2rem;
	left: 2rem;
	height: 6rem;

	img {
		height: 100%;
	}
}
